.cardetailpage {


font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
height: 100vh;
text-align: center;

}


.cardetailpage img {


max-width: 60%;
height: auto;

}


h1{

    text-align: center;


}

